
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #45a049, #3e8e41);
}
.button {
    -fx-background-color: linear-gradient(to bottom, #4cdee9, #3b4547);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-width: 200px;
}
.vbox {
    -fx-background-color: #17028f;
    -fx-background-color: #17028f;
    -fx-border-color: #050505;
    -fx-border-width: 5;
}

.newpage {
    -fx-background-color: #17028f;
    -fx-background-color: #17028f;
    -fx-pref-width: 650;
}

.sidebar, .optionsbar{
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-color: #17028f;
    -fx-border-width: 0 5 0 0;
    -fx-border-color: #050505;
    -fx-pref-width: 250;
    -fx-min-width: 175;
    -fx-pref-height: 900;
}

.sidebar Button {
    -fx-background-color: linear-gradient(to bottom, #4cdee9, #3b4547);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}


.optionsbar Button {
    -fx-background-color: linear-gradient(to bottom, #4cdee9, #3b4547);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.content {
    -fx-background-color: #17028f;
    -fx-pref-width: 650;
    -fx-pref-width: 650;
}

.krzychucontent {
    -fx-padding: 20 10;
    -fx-background-color: #17028f;
    -fx-alignment: top-center;
}

.krzychucontent Button {
    -fx-background-color: linear-gradient(to bottom, #f50ee2, #190233);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.searchpanel {
    -fx-padding: 10;
    -fx-background-color: #17028f;
    -fx-background-color: #17028f;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.searchfield {
    -fx-pref-width: 200;
    -fx-font-size: 14px;
}

.searchbutton {
    -fx-font-size: 14px;
    -fx-background-color: #4e5a73;
    -fx-text-fill: white;
    -fx-border-color: #394455;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}

.lists{
    -fx-spacing: 10;
    -fx-background-color: #17028f;
    -fx-alignment: top-center;
}

.lists .list-cell {
    -fx-background-color: #17028f;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.lists .list-cell .text {
    -fx-fill: white;
}

.lists .list-cell:hover {
    -fx-background-color: #0f026e;
}

.bartek{
    -fx-alignment: center;
    -fx-cursor: hand;
}

.film-page {
    
}

.film-attr {
    -fx-text-fill: white;
    -fx-pref-width: 170; 
    -fx-padding: 5px;

}

.film-attr-value {
    -fx-text-fill: white;
    -fx-pref-width: 480px; 
    -fx-padding: 5px;
}

.item {
    -fx-padding: 10px;
    -fx-text-fill: white;   
    -fx-wrap-text: true;
}

.option_page {
    -fx-background-color: #17028f;  /* Ciemne tło */
    -fx-padding: 20;
}

.option_page Label {
    -fx-text-fill: white;  /* Biały tekst */
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.option_page TextField {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-border-color: black;
    -fx-padding: 5;
}

.order-history-box {
    -fx-padding: 20px 10px; /* Odstęp wewnętrzny */
    -fx-background-color: #17028f;
}

.order-history-title {
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-font-size: 24px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubienie tekstu */
    -fx-text-fill: #ffffff; /* Kolor tekstu */
    -fx-padding: 10px 0; /* Odstęp między tytułem a innymi elementami */
}

.no-orders-label {
    -fx-font-size: 16px; /* Rozmiar czcionki */
    -fx-text-fill: #ffffff; /* Kolor tekstu */
}

.order-label {
    -fx-font-size: 10px; /* Rozmiar czcionki */
    -fx-text-fill: #ffffff; /* Kolor tekstu */
    -fx-padding: 5px; /* Odstęp między zamówieniami */
}

.order-history-scrollpane {
    -fx-background-color: transparent; /* Usuwa białe tło */
    -fx-padding: 0; /* Usuwa odstępy wewnętrzne */
    -fx-border-color: transparent; /* Usuwa białą ramkę */
    -fx-border-width: 0; /* Ustawia szerokość ramki na 0 */
}

.order-history-scrollpane .scroll-bar {
    -fx-background-color: transparent; /* Tło paska przewijania */
    -fx-padding: 5px; /* Wewnętrzny odstęp dla suwaka */
}

.seat-btn {
    -fx-cursor: hand;
    -fx-padding: 5px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.row-label {
    -fx-alignment: center; /* Wyśrodkowanie tekstu */
    -fx-font-size: 16px;  /* Rozmiar czcionki */
    -fx-text-fill: white; /* Kolor tekstu */
    -fx-pref-width: 50px; /* Szerokość etykiety */
    -fx-pref-height: 50px; /* Wysokość etykiety */
}

.modify-basket-box {
    -fx-padding: 20px 10px; /* Odstęp wewnętrzny */
    -fx-background-color: #17028f;
}

.modify-basket-title {
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-font-size: 24px; /* Rozmiar czcionki */
    -fx-font-weight: bold; /* Pogrubienie tekstu */
    -fx-text-fill: #ffffff; /* Kolor tekstu */
    -fx-padding: 10px 0; /* Odstęp między tytułem a innymi elementami */
}

.basket-empty-message {
    -fx-font-size: 16px; /* Rozmiar czcionki */
    -fx-text-fill: #ffffff; /* Kolor tekstu */
}

.modify-ticket-label {
    -fx-font-size: 12px; /* Rozmiar czcionki */
    -fx-text-fill: #ffffff; /* Kolor tekstu */
    -fx-padding: 5px; /* Odstęp między zamówieniami */
}

.modify-ticket-label:hover {
    -fx-background-color: #0f026e;
}